body {
    background: linear-gradient( to bottom, #760000, black);
    justify-content: center;
    align-items: center;
}

#editUserForm {
width: 75%;
height: 80%;
background-color: black;
}

#editTable {
width: 100%;
height: 100%;
}

.editTr {
width: 100%;
}

.editTd {
width: 50%;
}

#createTable {
width: 100%;
height: 100%;
}

.editUserText {
height: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
}

.editUserInput {
background-color: black;
border: 0;
border-bottom: solid white;
}

.editUserInput:focus {
outline: 0;
border-bottom: solid red;
}

#editUserAuthority {
width: 70%;
display: flex;
justify-content: space-evenly;
}

.authorityButton {
background-color: black;
color: var(--mainColor);
border: solid var(--mainColor) 3px;
font-size: 16px;
}

#deleteUserList {
width: 60%;
height: 75%;
background-color: var(--mainColor);
display: block;
margin-left: auto;
margin-right: auto;
}

.createDeleteButton {
width: 100px;
height: 50px;
background-color: var(--mainColor);
font-size: 16px;
display: block;
margin-left: auto;
margin-right: auto;
}

#logoutButton {
position: absolute;
top: 4px;
right: 4px;
}

#logoutButtonImg {
width: 60px;
height: 60px;
object-fit: contain;
}

#backButton {
position: absolute;
top: 4px;
left: 4px;
}

#backButtonImg {
width: 60px;
height: 60px;
object-fit: contain;
}

.innerData {
    display: none;
}