body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient( to bottom, #760000, black);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm {
    background-color:black;
    width: 30%;
    height: 60%;
    color: white;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.idPw {
    background-color: black;
    color: white;
    border: 0;
    border-bottom: solid white;
}

.idPw:focus {
    outline: 0;
    border-bottom: solid red;
}

#loginButton {
    width: 100px;
    height: 50px;
    font-size: 16px;
    border: 0;
    color: white;
    background-color: #760000;
}

#loginButton:hover {
    cursor: pointer;
}
