body {
    background-color: black;
    overflow: hidden;
}

nav {
    background-color: var(--mainColor);
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
}

#mvUserDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 100;
}

.mvUserButton {
    color: black;
    font-size: 18px;
}

#editUserButtonDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#editUserButton {
    width: 100px;
    height: 64px;
    border: 0;
    background-color: var(--subColor);
    font-size: 16px;
}

header {
    width: 100vw;
    height: 80px;
    border-bottom: solid var(--subColor) 5px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 100px;
}

#yearForm {
    display: flex;
}

#yearDisplay {
    width: 72px;
    font-size: 32px;
    position: relative;
    bottom: 2px;
}

#yearDisplay:hover {
    cursor:default;
}

#yearDisplay:focus {
    outline: 0;
}

#monthButtonDiv {
    flex-grow: 100;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}

#monthButtonDiv::-webkit-scrollbar {
    height: 10px;
}

#monthButtonDiv::-webkit-scrollbar-thumb {
    background-color: var(--subColor);
}

.monthButton {
    min-width: 64px;
    height: 64px;
    background-color: black;
    color: var(--mainColor);
    border: solid var(--mainColor) 3px;
    border-radius: 50%;
    font-size: 20px;
}

.LRButtonImg {
    width: 20px;
    height: 32px;
    object-fit: cover;
}

#logoutButtonDiv {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#logoutButton {
    margin-right: 100px;
}

#logoutButtonImg {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

#plusElements {
    margin-top: 85px;
    margin-left: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#plusSchedule {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 200vw;
    z-index: 1;
    background-color: black;
}

#plusTime {
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#plusButton {
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 2;
}

#plusButtonImg {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

#plusMonthDay {
    background-color: black;
    width: 160px;
    font-size: 32px;
    border: 1px solid white;
}

.plusTimeDial {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 8px;
}

.plusDialUpDownImg {
    width: 24px;
    height: 16px;
    object-fit: cover;
}

.plusDialText {
    font-size: 24px;
    height: 24px;
    position: relative;
    bottom: 6px;
    text-align: center;
}

#plusColon {
    font-size: 32px;
}

#plusText {
    color: white;
    margin: 8px;
    align-self: stretch;
    flex-grow: 1;
    background-color: black;
    border: 1px solid white;
    font-size: 18px;
    border-radius: 8px;
}

#plusText:focus {
    border: 2px solid white;
    outline: 0;
}

#plusConfirm {
    width: 100px;
    height: 80px;
    align-self: flex-end;
    margin: 8px;
    background-color: var(--mainColor);
    font-size: 20px;
    border-radius: 8px;
}

#main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 85px;
    left: 100px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#main::-webkit-scrollbar {
    height: 10px;
}

#main::-webkit-scrollbar-thumb {
    background-color: var(--subColor);
}

.scheduleDiv {
    width: 100%;
    margin-left: 24px;
    display: flex;
    flex-wrap: wrap;
}

.scheduleButton {
    font-size: 24px;
    padding: 8px;
    display: block;
}

.delButtonImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.scheduleContentDiv {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-right: 50px;
}

.scheduleContent {
    align-self: stretch;
    border: 1px solid var(--subColor);
    display: flex;
}

.contentTime {
    width: 100px;
    border-right: 1px solid var(--subColor);
}

.contentText {
    flex-grow: 1;
    border-right: 1px solid var(--subColor);
}

.innerData {
    display: none;
}

.monthDiv {
    margin: 8px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


@media( orientation: portrait ){
    html {
        transform: rotate(-90deg);
        transform-origin: top left;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vh;
        height: 100vw;
    }
    nav {
        height: 100vw;
    }
    header {
        width: 100vh;
    }
    body {
        width: 100vh;
        height: 100vw;
    }
}